#*******************************************************************************
#requirements.txt
#*******************************************************************************

#Purpose:
#This file lists all the packages from the Python Packaging Index packages that 
#are required by RRR, and is used by the "pip" software.
#Author:
#Cedric H. David, 2015-2016


#*******************************************************************************
#Requirements for pip
#*******************************************************************************
dbf==0.96.5
pyshp==1.2.3
netCDF4==1.0.8
ulmo==0.7.8


#*******************************************************************************
#End
#*******************************************************************************
